<div class="main-page-wrapper">
    <div class="button-wrapper">
        <div class="placeholder"></div>

        <div class="text-wrapper">
            <h3 class="main-page-subtitle text-center">Need information about your next flight's airline?</h3>
            <div class="d-flex justify-content-center mt-3">
                <button
                    routerLink="/search"
                    class="btn btn-warning">
                    Check it out!
                </button>
            </div>
        </div>
    </div>
</div>